<h1>All users</h1>

<ul class="users">
  <%= for user <- @users do %>
    <li>
      <%= gravator_for(user.email) %>
      <%= link user.name, to: user_path(@conn, :show, user) %>
    </li>
  <% end %>
</ul>
