<h1>All users</h1>

<%= paginate(@conn, &user_path/3, @page_info) %>

<ul class="users">
  <%= for user <- @users do %>
      <%= render SampleApp.UserView, "_user.html", conn: @conn, user: user %>
  <% end %>
</ul>

<%= paginate(@conn, &user_path/3, @page_info) %>
