<div class="row">
  <aside class="col-md-4">
    <section>
      <div class="alert alert-success" role="alert">
        <%= get_flash @conn, :notice %>
      </div>
      <h1>
        <%= gravator_for(@user.email) %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
