<div class="row">
  <aside class="col-md-4">
    <section>
      <%= if notice = get_flash(@conn, :notice) do %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <h1>
        <%= gravator_for(@user.email) %>
      </h1>
      <%= @user.name %>
      <%= @user.email %>
    </section>
  </aside>
</div>
